<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./_partials/head'); %>
  <title>Home</title>
</head>
<body class="bg-gray-200 dark:bg-black text-black dark:text-white">
  <%- include('./_components/header') %>
  <main class="flex items-center justify-center min-h-[80vh]">
    <h1 class="text-3xl text-center font-bold">
      ¡Hello, <%= auth.firstName %> <%= auth.lastName %>!
    </h1>
  </main>
  <%- include('./_partials/scripts.ejs') %>
</body>
</html>