<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../_partials/head'); %>
  <title>Sign In</title>
</head>
<body class="bg-white dark:bg-black">
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8 border-1">
    <% if (error) { %>
      <%- include('../_components/alert-danger', { content: error }) %>
    <% } %>
    <div class="w-full max-w-[400px] mx-auto text-black dark:text-white shadow-lg bg-gray-100 dark:bg-gray-900 py-3 px-5 rounded">
      <div class="flex justify-end hover:cursor-pointer" id="theme-icon"></div>
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="mx-auto h-10 w-auto"
          src="https://tailwindui.com/plus-assets/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company" />
        <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-black dark:text-white">
          Sign in to your account
        </h2>
      </div>
      <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form class="space-y-6" action="/login" method="POST">
          <%- include('../_components/auth-input', { 
              name: 'email', 
              type: 'email', 
              label: 'Email address', 
              error: fieldErrors?.email?.[0]
          }) %>
          <%- include('../_components/auth-input', { 
              name: 'password', 
              type: 'password', 
              label: 'Password', 
              error: fieldErrors?.password?.[0]
          }) %>
          <div>
            <button type="submit"
              class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 dark:hover:bg-indigo-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
              Sign In
            </button>
          </div>
        </form>
        <p class="mt-10 text-center text-sm/6 text-gray-500 dark:text-gray-400">
          Not a member?
          <a href="/register"
            class="font-semibold text-indigo-600 hover:text-indigo-500 dark:text-indigo-400 dark:hover:text-indigo-300">
            Sign Up
          </a>
        </p>
      </div>
    </div>
  </div>
  <%- include('../_partials/scripts') %>
</body>
</html>